<html>
    <head>
        <title>Django Vlad blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Vlad Blog</a></h1>
        </div>

        <div>
            <p>published: 04.08.2016, 21:18</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus placerat ipsum pharetra convallis. Aliquam iaculis feugiat diam eu ornare. In hac habitasse platea dictumst. Sed luctus euismod mollis. Curabitur pulvinar vitae felis id faucibus. Vivamus at sagittis neque. Quisque aliquam dui vel ultricies auctor. Curabitur quis libero eget metus vestibulum hendrerit vel vel nibh. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ullamcorper purus enim. Etiam tempor enim id urna pulvinar hendrerit. Nulla vulputate id sem sed elementum.</p>
        </div>

        <div>
            <p>published: 04.08.2016, 21:20</p>
            <h2><a href="">My second post</a></h2>
            <p>Phasellus sit amet lobortis nibh. Quisque urna massa, scelerisque ac massa a, maximus convallis eros. Vivamus venenatis ligula at ipsum sagittis, nec feugiat odio rhoncus. Phasellus malesuada dictum dignissim. Nulla facilisi. Aenean dolor ipsum, aliquet in massa a, efficitur mollis lectus. Proin egestas orci at dolor lacinia, et tincidunt magna sagittis. Praesent eu dui arcu. Donec ac est in purus accumsan sagittis a quis nibh. Vestibulum vel arcu consectetur, semper eros a, hendrerit turpis. Etiam sed dignissim ex, ac scelerisque ante. Ut ac lectus ipsum. Donec sit amet justo porta, gravida magna eu, lobortis risus. Etiam in magna quam. In placerat facilisis elit id malesuada.</p>
        </div>
    </body>
</html>
